<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>xxxx</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta http-equiv="refresh" content="1000">

  <!-- 图片引用 -->
  <link href="{% static 'img/about-vision.jpg' %}" rel="icon">
  <link href="{% static 'img/about-vision.jpg' %}" rel="icon">

  <!-- 引用谷歌字体 Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- 引用 Bootstrap 下的 CSS 文件 -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- 引用 Libraries 下的 CSS 文件 -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- 主样式文件 Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!--===+++++++++++++++     导航栏Header    +++++++++++++++====-->
  <header id="header">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <img src="{% static 'img/about-vision.jpg' %}" alt="聚力创智" >
          </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">主页</a></li>
          <li><a href="#about">关于我们</a></li>
          <li><a href="#services">服务</a></li>
          <li class="menu-has-children"><a href="xxxx">解决方案</a>
            <ul>
              <li><a href="xxx">云桌面</a></li>
              <li><a href="xxx">移动教学空间</a></li>
              <li><a href="xxxx">软件定义数据中心</a></li>
            </ul>
          </li>
          <li><a href="#contact">联系我们</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url('img/about-vision.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>xxxxx</h2>
                <p>xxxxx</p>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('img/about-vision.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>xxxx</h2>
                <p>xxxxx</p>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('img/about-vision.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>xxxx</h2>
                <p>xxxxx</p>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('img/about-vision.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>xxxx</h2>
                <p>xxxxx</p>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('img/about-vision.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>xxxx</h2>
                <p>xxxxx</p>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="{% static 'img/about-vision.jpg' %}" target="_blank">xxxx</a></h4>   <!--微信链接，点击弹出二维码，添加图片，请选择300*300像素，添加后删除此话-->
            <p class="description">xxxx</p>
          </div>
           <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="{% static 'img/about-vision.jpg' %}" target="_blank">xxxx</a></h4>       <!--微信链接，点击弹出二维码，添加图片，请选择300*300像素，添加后删除此话-->
            <p class="description">xxxx。</p>
           </div>
           <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="http://wpa.qq.com/msgrd?v=3&uin=000000000&site=qq&menu=yes" target="_blank">xxxxx</a></h4>  <!--QQ客服链接，请用企业qq号替换000000000，更改后删除此话-->
            <p class="description">xxxxxx。</p>
          </div>

       

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>xxxx</h3>
          <p id="aboutjili_text">
                  xxxxx
              </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'img/about-vision.jpg' %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a >xxxx</a></h2>
               <P></P>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a >xxxx</a></h2>
              <p></p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a >xxxx</a></h2>
              <p></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      服务栏
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>xxxx</h3>
        </header>
        <div class="row">
             <div class="col-lg-12 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="https://baike.baidu.com/item/%E8%99%9A%E6%8B%9F%E5%8C%96/547949?fr=aladdin" target="_blank">虚拟化</a></h4>
           <p class="description">xxxx。</p>
           </div>
          <div class="col-lg-12 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a >xxxx</a></h4>
            <p class="description">xxxx</p>
          </div>
         
            <div class="col-lg-12 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
              <h4 class="title"><a >xxxx</a></h4>
              <p class="description">xxxxx  </p>
            </div>
          <div class="col-lg-12 col-md-6 box wow bounceInUp"  data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a >xxxx</a></h4>
            <p class="description"> xxxxxx</p>
          </div> 
          <div class="col-lg-12 col-md-6 box wow bounceInUp"  data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a >xxxx</a></h4>
            <p class="description"> xxxxx </p>
          </div>
        </div>
      </div>
    </section><!-- #services -->

    
    <!--==========================
      产品列表
    ============================-->
    <section id="portfolio"  class="section-bg" >
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">xxxx</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">xxx</li>
                <li data-filter=".filter-app">xxx</li>
                <li data-filter=".filter-card">xxx</li>
                <li data-filter=".filter-web">xxx</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="about-vision.jpg" class="img-fluid" alt="">
                  <a href="about-vision.jpg" data-lightbox="portfolio" data-title="sddc" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="app_datacli.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a >xxx</a></h4>
                  <p>xxx</p>
                </div>
              </div>
            </div>
              
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="about-vision.jpg" class="img-fluid" alt="">
                  <a href="about-vision.jpg" class="link-preview" data-lightbox="portfolio" data-title="sddc" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="app_datacli.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a >xxxx</a></h4>
                  <p>xxx</p>
                </div>
              </div>
            </div>
              
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/about-vision.jpg" class="img-fluid" alt="">
                  <a href="img/about-vision.jpg" class="link-preview" data-lightbox="portfolio" data-title="sddc" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="app_datacli.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a >xxxx</a></h4>
                  <p>xxxx</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/portfolio/img/about-vision.jpg" class="img-fluid" alt="">
                  <a href="img/portfolio/img/about-vision.jpg" class="link-preview" data-lightbox="portfolio" data-title="云桌面" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="cloud_desktop.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a >xxxx</a></h4>
                  <p>xxxx</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/portfolio/img/about-vision.jpg" class="img-fluid" alt="">
                  <a href="img/portfolio/img/about-vision.jpg" class="link-preview" data-lightbox="portfolio" data-title="云桌面" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="cloud_desktop.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a >xxxx</a></h4>
                  <p>xxx</p>
                </div>
              </div>
            </div>

    
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                    <img src="img/portfolio/img/about-vision.jpg" class="img-fluid" alt="">
                    <a href="img/portfolio/img/about-vision.jpg" class="link-preview" data-lightbox="portfolio" data-title="云桌面" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="cloud_desktop.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a >xxxx</a></h4>
                  <p>xxxx</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/portfolio/img/about-vision.jpg" class="img-fluid" alt="">
                  <a href="img/portfolio/img/about-vision.jpg" class="link-preview" data-lightbox="portfolio" data-title="云教育" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="mobel_teach.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a >xxxxx据</a></h4>
                  <p>xxxx</p>
                </div>
              </div>
            </div>

  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="img/portfolio/img/about-vision.jpg" class="img-fluid" alt="">
                  <a href="img/portfolio/img/about-vision.jpg" class="link-preview" data-lightbox="portfolio" data-title="云教育" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="mobel_teach.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a >xxx</a></h4>
                  <p>xxx</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                    <img src="img/portfolio/img/about-vision.jpg" class="img-fluid" alt="">
                    <a href="img/portfolio/img/about-vision.jpg" class="link-preview" data-lightbox="portfolio" data-title="云教育" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="mobel_teach.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a >xxxx</a></h4>
                  <p>xxxxx</p>
                </div>
              </div>
            </div>

  
          </div>
  
        </div>
      </section><!-- #portfolio -->
   
      <!--以下板块可用来添加合作企业。若有，则可以打开-->
    <!-- ==========================
      合作企业
    ============================ ->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>合作企业</h3>
        </header>
        <div class="owl-carousel clients-carousel">
          <img src="img/clients/client-1.png" alt="">
          <img src="img/clients/client-2.png" alt="">
          <img src="img/clients/client-3.png" alt="">
          <img src="img/clients/client-4.png" alt="">
          <img src="img/clients/client-5.png" alt="">
          <img src="img/clients/client-6.png" alt="">
          <img src="img/clients/client-7.png" alt="">
          <img src="img/clients/client-8.png" alt="">
        </div>

      </div>
    </section>   <-#clients -->

    <!--==========================
      联系我们
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>xxx</h3>
          <p>xxxxxxxxxxxxxxxxxxxxxxxxx。</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>xxxxxxxxxxxxxx</h3>
              <p><a >
                  xxxx
                  </a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>xxxxx</h3>
              <p><a >
                  xxxxxxxxxxxxxx
                  </a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>xxxxx</h3>
              <p><a >
                  xxxxxxxxxxxxxxxxx
                  </a></p>
            </div>
          </div>

    </section><!-- #contact -->

  </main>
  <!--==========================
    网页脚部
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
              <img src="img/img/about-vision.jpg" alt="xxxxx"   height="56px"  width="185px">
            <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx。</p>
          </div>
          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>xxx</h3>
            <p>
              <strong>xxx:</strong><a href="xxxxx" >xxxxxx</a><br>
            </p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h3>xxxxx</h3>
            <p>xxxxx</p>
            <form action="xxxxxx" method="post">
             <input type="submit"  value="xxxxx">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Julicloud Technology Co.,Ltd.  </strong>. All Rights Reserved. xxxxxxxx
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
